body {
    font-family: 'Street 2', Gotham, 'Helvetica Neue', Lato, sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    /*color: #d0021b;*/
}

input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.45);
    font-size: 16px;
    width: 80%;
}

label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
}

.reset {
    border: none;
    background: transparent;
    color: #d0021b;
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.button {
    color: #e6e6e6;
    background: #0a0a0a;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}

.button:hover:enabled {
    background: linear-gradient(#1a1a1a, #0a0a0a);
    color: #fff;
    text-decoration: none;
}

.button:active {
    transform: translateY(1px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.nav {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 30px;
}

.nav li {
    display: inline-block;
}
.nav .right {
    float: right;
    margin-top: 9px;
}

.nav .logo {
    height: 38px;
    margin-right: 90px;
}

.nav h1 {
    font-size: 38px;
    font-weight: 500;
    margin: 0;
    position: relative;
    top: -1px;
}

.nav li a .icon {
    margin-top: 5px;
}

.nav li a .icon.active {
    display: none;
}
.nav li a.focused .icon {
    display: none;
}
.nav li a.focused .icon.active {
    display: block;
}

.nav li .focused {
    border: initial !important;
}

/*.active {*/
    /*font-weight: 500;*/
/*}*/

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.space-list-items {
    margin-bottom: 7px;
}

.space-list-items li {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.space-list-items.centered li {
    margin: 0 auto;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 10px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.popular-rank {
    font-size: 20px;
    margin: 10px;
}
.icon {
    height: 28px;
    margin-right: 72px;
}
.provider-logo {
    height: 28px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 1824px;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 30px;
}

.card {
    background: #f3f3f3;
    padding: 15px;
    width: 400px;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: inline-block;
    cursor: pointer;
}

.card:hover {
    opacity: 0.85;
}

.card .wrap {
    min-height: 193px;
    max-height: 200px;
    overflow-y: hidden;
}

.card img {
    width: 400px;
}

p {
    line-height: 1.5;
}

p.desc {
    font-size: 13px;
}
.title {
    text-transform: capitalize;
}

.card {
    border: 3px solid transparent;
}

.focused {
    border: 3px solid #2BB0D8;
}


/* OVERLAY */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    font-family: 'Street 2', Gotham, "Helvetica Neue", sans-serif;
    padding: 40px 160px;
    background: #0f0f0f;
    color: #f0f0f0;
    overflow-y: scroll;
}
.overlay a {
    color: #f0f0f0;
    border: initial;
}
.overlay h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 1.25;
    margin-top: 0 !important;
}
.overlay a.focused h1 {
    color: #3399CC;
    font-weight: 500 !important;
    border: initial;
}
.overlay .disabled {
    opacity: 0.5;
}